* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#personajes {
    /* Complete el CSS aqui */
}

.personaje {
/* Complete el CSS aqui */
}

.personaje__nombre {
/* Complete el CSS aqui */
}

.personaje__imagen {
/* Complete el CSS aqui */
}